.bus-nav-searchbar {
    position: fixed;
    height: 57px;
    background-color: white;
    display: flex;
    justify-content: initial;
    align-items: center;
    width: 100%;
    padding: 20px;
  img {
    height: 58px;
    width: 70px;
    padding-right: 100px;
    padding-left: 20px;
  }
}

.bus-search-parent {
    display: flex;
    margin: 0px 0px 0px 0px;
    background-color: #FEFEFE;
    font-family: sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
    height: 46px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
.bus-search-wrapper{
    position: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    // width: 100%;
}
.bus-search-child input[type=search] {
    margin-left: 2px;
    background-color: #FEFEFE;
    border: none;
    color: #5e5e5e;
    min-width: 368px;
    font-size: 1.0EM;
    padding-left: 0px;
    padding-bottom: none;
    outline: none;
    overflow: hidden;
    padding: 11px;
}
.bus-search-child {
    display: flex;
    position: block;
    overflow: hidden;
}

.bus-search-child label {
    font-weight: 600;
    font-size: 16px
}

.bus-search-button {
    background-color: #E33258;
    outline: none;
    text-transform: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.2em;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.bus-search-button:hover {
    background-color: #c12847;
    transition: 0.3s;
    color: white;
}







.bus-idx-wrapper {
    display: flex;
    justify-content: flex-start;
    background-color: yellow;
}

.map-wrapper {
    display: flex;
    position: fixed;
    right: 0;
    top: 97px;
    background-color: blue;
    height: 800px;
    min-width: 440px;
    flex-grow: 2;
}

.map-container {
    width: 100%;
    height: 100%;
}

.filter-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 100px;
    background-color: lightcoral;
    height: 579px;
    z-index: 0;
    min-width: 280px;
}   

.filter-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    h1 {
        margin-left: 45px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 19px;
        font-weight: 500;
    }
}


.price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    input[type="radio"] {
        display: none;
        &:checked {
            color: $green;
            background-color: $gray;
        }
    }
    label {
        padding: 8px;
        border: 1px solid black;
        font-family: sans-serif;
        font-size: 12px;
        &:hover {
            background-color: $lightgray;
        }
        &:checked {
            color: $green;
            background-color: $gray;
        }
    }
}

#dol1 {
    border-radius: 15px 0px 0px 15px;
    padding-left: 20px;
    padding-right: 15px;
    border-right: none;
}
#dol2 {
    border-radius: 0px 0px 0px 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: none;
}
#dol3 {
    border-radius: 0px 0px 0px 0px;
    padding-left: 12px;
    padding-right: 12px;
    border-right: none;
}
#dol4 {
    border-radius: 0px 15px 15px 0px;
    padding-left: 11px;
    padding-right: 13px;
}


.category-container {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    background-color: pink;
    margin-left: 45px;
    max-width: 200px;
    input {
    }
    label {
        font-family: sans-serif;
    }
}


.bus-checkmark {

}






.bus-item-wrapper {
    display: flex;
    flex-direction: column;
    width: 825px;
    background-color: white;
    height: 2000px;
    padding: 120px 6px 5px 321px;
}

.footer-placeholder {
    display: flex;
    flex-direction: column;
    background-color: red;
    max-width: 1160px;
}

//  container for index item

.bus-item-container {
    display: flex;
    justify-content: center;
    height: 263px;
    width: 100%;
    border: 1px solid $lightgray;
    margin-top: 20px;
    border-radius: 7px;
    overflow: hidden;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
}

.bus-photo {
    img {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 28px 0px 0px 25px;
    border-radius: 3px;
    }
}

.bus-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 41px;
}


.bus-description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    width: 550px;
    padding-top: 20px;
}

// if you are trying to change spacing between lines, remember .bus-descript

.left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80px;
    width: 431px;
    font-family: sans-serif;
    padding-top: 7px;
    h1 {
        font-weight: 600;
        font-size: 23px;
        padding-top: 7px;
    }
    h2 {
        color: $gray;
        padding-top: 13px;
        font-size: 15px;
    }
    h3 {
        color: #5e5e5e;
        font-size: 15px;
        margin: 8px 0px 0px 0px;
        padding-top: 7px;
    }
    .svg-inline--fa {
        font-size: large;
    }
    h4 {
        padding-top: 9px;
        font-size: 18px;
    }
}

.right-wrapper {
    display: flex;
    justify-content: flex-end;
    height: 80%;
    flex-direction: column;
    width: 100px;
    align-items: flex-end;
    margin: -44px 0px 0px 0px;
    h4 {
        font-family: sans-serif;
        color: #5e5e5e;
        font-size: 12px;
        padding: 2px;
    }
}


.bus-review-snippet {
    display: flex;
    height: 80px;
    padding-top: 14px;
    margin: 0px 23px 0px 22px;
    align-items: center;
    .svg-inline--fa {

        color: $gray;
    }
    p {
        font-size: 15px;
        font-family: sans-serif;
        color: $gray;
    }

}

// bus-greeting

.bus-greeting-buttons {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    width: 17%;
    padding-left: 162px;
}


.bus-signup {
    background-color: #D32323;
    height: 47px;
    width: 89px;
    border-radius: 5px;
    border: 2px solid #D32323;
    font-size: 17px;
    color: white;
}

.bus-login {
    background-color: transparent;
    border: 1px solid #5e5e5e;
    padding: 0px 0px 0px 0px;
    height: 47px;
    width: 89px;
    border-radius: 5px;
    font-size: 17px;
    color: black;
    margin: 0px 14px 0px 0px;
    &:hover {
        background-color: $lightgray;
    }
}

.bus-review {
    background-color: transparent;
    padding: 5px;
    min-height: 25px;
    min-width: 120px;
    border: none;
    font-size: 15px;
    color: black;
    outline: none;
    margin: 0px 14px 0px 0px;
}

#divider {
    font-size: large;
    color: $lightgray;
    font-family: fantasy;

}



// .bus-contact {

// }

// .bus-review {

// }

// .bus-box-bottom {

// }
