

.navbar-parent ul {
    display: flex;
    background-color: #67917A;
    justify-content: center;
}

.navbar-logo {
    display: flex;
    max-height: 80px;
    padding-top: 10px;
}

.form-wrap-all {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    height: 800px;
}

.login-title {
    width: 100%;
}


#login-email {
    @include form-input-field;
    &:focus {
        background-color: #c7d7ea;
    }
}

#login-pass {
    @include form-input-field;
    &:focus {
        background-color: #c7d7ea;
    }
}
#signin-email {
     @include form-input-field;
     &:focus {
        background-color: #c7d7ea;
    }
}
#signin-pass {
     @include form-input-field;
     &:focus {
        background-color: #c7d7ea;
    }
}
#signin-zip {
     @include form-input-field;
     &:focus {
        background-color: #c7d7ea;
    }
}
#signin-bday {
     @include form-input-field;
     &:focus {
        background-color: #c7d7ea;
    }
}

#signin-fname {
    @include signin-name;
    &:focus {
        background-color: #c7d7ea;
    }
}

#signin-lname {
    @include signin-name;
    &:focus {
        background-color: #c7d7ea;
    }
}


.login-form-text {
    margin-right: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        display: flex;
        justify-content: center;
        font-size: 1.5EM;
        color: $red;
        font-size: 1.3em;
        width: 100%;
        padding: 5px;
        padding-bottom: 10px;
    }
    h4 {
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        font-weight: 600;
        color: #5e5e5e;
        width: 100%;
        font-size: 0.9em;
        padding: 5px;
    }
    p {
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        font-weight: 500;
        color: #5e5e5e;
        width: 100%;
        font-size: 0.9em;
        padding: 5px;
        display: flex;
        justify-content: center;
        padding-bottom: 8px;
    }
    a {
        text-decoration: none;
        color: $darkblue;
        padding-left: 3px;
    }
}

.form-container {
    display: flex;
    justify-content: center;
    top: 150px;
    width: 500px;
    padding-top: 100px;
    font-weight: 700;
    font-family: sans-serif;
    color: #E33258;
    margin-right: 41px;
}

.form-container li {
    padding-left: 140px;
}

.name-wrapper {
    width: 300px;

    display: flex;
    margin-left: 60px;
    #name {
        width: 140px;
        padding: 5px 10px;
        margin: 5px 10px;
        border: 1px solid $gray;
        border-radius: 5px;
        font-size: 1.0EM;
        box-sizing: border-box;
        background-color: white;
    } 
}




.form-container button {
    width: 300px;
    color: white;
    padding: 10px 20px;
    margin: 5px 70px;
    border: 1px solid $gray;
    border-radius: 4px;
    background-color: $red;
    font-size: 1.0EM;
    font-weight: 600;
    transition: 0.3s;
}

.form-container button:hover {
    background-color: #ed5a7a;
}

.signup-title {
    display: flex;
    flex-direction: column;
        h2 {
            font-size: 1.4EM;
            padding-left: 101px;
            padding-bottom: 7px;
        }
        h3 {
            font-size: 0.9em;
            color: $gray;
            padding-top: 7px;
            padding-left: 127px;
        }
    }


.form-footer {
    display: flex;
    justify-content: center;
    color: #5e5e5e;
    text-decoration: none;
    h4 {
        font-size: .8em;
        font-weight: 500;
        margin-left: 60px;
        padding-top: 9px;
    }
    p {
        font-size: .9em;
        font-weight: 500;
        margin-left: 20px;
        padding-top: 9px;
    }
}

.red-carpet img {
    height: 300px;
    width: 300px;
    padding-top: 20px;
    margin-right: 20px;
}

.red-carpet-sign img {
    height: 300px;
    width: 300px;
    padding-top: 120px;
}

.handle-errors-wrapper {
    display: flex;
    justify-content: center;}

.handle-errors {
    display: flex;
    justify-content: center;
    min-height: 50px;
    width: 100%;
    margin-top: 20px;
    ul > li {
        display: flex;
        justify-content: flex-start;
        background-color: #FCD6D3;
        font-family: sans-serif;
        color: $gray;
        width: 800px;
        padding: 8px;
        margin-left: 39px;
    }
}