@mixin form-input-field {
    width: 300px;
    padding: 5px 10px;
    margin: 5px 70px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-size: 1.0EM;
    box-sizing: border-box;
    background-color: white;
}

@mixin signin-name {
    width: 140px;
    padding: 5px 10px;
    margin: 5px 10px;
    border: 1px solid $gray;
    border-radius: 5px;
    font-size: 1.0EM;
    box-sizing: border-box;
    background-color: white;
}
