.review-navbar-parent {
    height: 64px;
    display: flex;
    background-color: $red;
    justify-content: space-around;
    img {
        max-height: 77px;
    }
}

.review-greeting-wrapper {
    margin-top: -23px;
    
}

.review-form-wrapper {
    display: flex;
    justify-content: center;
}

.review-form {
        width: 63%;
        padding: 38px 0px 0px 0px;
    .rating-and-text-wrapper {
        border: 1px solid #bbbac0;
        border-radius: 5px;
        width: 650px;
        min-height: 400px;
        margin: 0px 0px 21px 0px;
    }
    .rating-placeholder {
        width: 100%;
        height: 76px;
        display: flex;
        margin: 0px 0px 0px 18px;
        justify-content: flex-start;
        i {
            color: $red;
            font-size: 20px;
            padding: 26px 6px 0px 0px;
        }
        .fa-star {
            &::before {
                content: "\f005";
                background-color: $gray;
                border: 6px solid $gray;
                border-radius: 6px;
                color: white;
            }
            &:hover {
                &::before {
                    background-color: $red;
                    border: 6px solid $red;
                }
            }
        }
    }
    h1 {
        font-family: Poppins, Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 900;
        color: $black;
        font-size: 28px;
        margin-bottom: 30px;
    }
    .textarea-wrapper {
        display: flex;
        justify-content: center;
        textarea {
            min-width: 94%;
            min-height: 240px;
            border: none;
            resize: none;
            font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
            font-size: 16px;
            line-height: 22px;
            color: $gray;
            outline: none;
            overflow: auto;
            &::placeholder {
                color: #bab6b6;
            }
        }
    }
    button {
        margin-top: 5px;
        padding: 11px;
        background-color: #D32323;
        height: 40px;
        width: 200px;
        font-weight: 600;
        border-radius: 5px;
        border: 2px solid #D32323;
        font-size: 15px;
        color: white;
        outline: none;
    }
}


.rating-and-text-wrapper {
    
}



.radio-wrapper {
    display: flex;
    justify-content: center;
    padding: 14px 0px 14px 0px;
    img {
        padding: 4px;
        border: 1px solid transparent;
        border-radius: 9px;
        max-width: 27px;

    }
    p {
        margin: 12px 0px 0px 10px;
        font-family: sans-serif;
        color: $black;
    }
    #default-text {
        p {
            color: #bab6b6;
        }
    }
}

.radio-wrapper input[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-wrapper input[type=radio] + i {
  cursor: pointer;
  border: 2px solid #F5F5F5;
}

.radio-wrapper input[type=radio]:checked + i {
  border: 2px solid #5c7fc9;
  border-radius: 3px;
}

.review-text-and-profile-wrapper {
    display: flex;
    margin-top: 20px;
}