.img-wrapper {
    display: flex;
    justify-content: center;
    img {
        padding: 2px;
        width: 391px;
        height: 265px;
        padding-top: 133px;
    }
}

.bus-show-text {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;
    margin-top: 26px;
    h1 {
        font-family: sans-serif;
        font-size: 51px;
        font-weight: bold;
    }
    
    h3 {
        padding: 5px 0px 5px 1px;
        color: gray;
        font-family: sans-serif;
        font-size: 16px;
    }
    h4 {
        padding: 5px 0px 5px 1px;
        color: gray;
        font-family: sans-serif;
        font-size: 16px;
    }
    button {
        margin-top: 5px;
        padding: 11px;
        background-color: #D32323;
        height: 47px;
        width: 165px;
        font-weight: 600;
        border-radius: 5px;
        border: 2px solid #D32323;
        font-size: 15px;
        color: white;
        outline: none;
    }
    p {
        margin: 10px 0px 0px 0px;
        font-family: sans-serif;
        color: #D32323;
        display: none;
    }
}

.bus-show-rating {
    display: flex;
    flex-direction: row;
    a {
        font-size: 25px;
        padding: 5px 0px 5px 0px;
        color: #D32323;
    }
    h2 {
        padding-left: 40px;
        color: gray;
        padding-top: 12px;
        font-family: sans-serif;
    }
    img {
        margin: 8px 0px 0px 0px;
        max-width: 25px;
    }
}

.bus-show-body-wrapper {
    display: flex;
    align-items: flex-start;
}

.bus-show-left-wrapper {
    width: 45%;
    margin-left: 206px;
    padding-right: 35px;
}
.bus-show-right-wrapper {
    position: sticky;
    top: 150px;
    right: 0;
}

.bus-show-info {
        margin-top: 28px;
        border: 1px solid lightgray;
        border-radius: 3px;
        min-width: 249px;
    h2 {
        border-bottom: 1px solid lightgray;
        padding: 23px;
        color: #67917A;
        font-family: sans-serif;
        font-size: 14px;
    }
    h3 {
        padding: 23px;
        font-family: sans-serif;
        color: gray;
        font-size: 14px;
    }
}


.hours-and-map {
    display: flex;
}

// .show-map-placeholder {
//     margin-top: 15px;
//     width: 315px;
//     height: 150px;
//     background-color: blue;
// }

.location-and-hours {
    h1 {
        padding-top: 100px;
        font-weight: 600;
        font-family: sans-serif;
        font-size: 18px;
        padding-bottom: 20px;
    }
}

.bus-hours-info {
    display: flex;
    min-width: 178px;
    margin-left: 20px;
    padding: 4px;
    header {
        padding: 3px;
        color: black;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding-right: 12px;
    }
    li {
        padding: 3px;
        font-family: sans-serif;
        color: gray;
        font-size: 14px;
    }
}

.amenities-title {
    display: flex;
    flex-direction: column;
    h1 {
        padding-bottom: 11px;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 600;
        margin-top: 40px;
    }
}

.icon-bus-show-rating {
    display: flex;
    color: gray;
    a {
        font-size: 25px;
        padding: 5px 0px 5px 0px;
    }
    h2 {
        padding-left: 0;
        padding-top: 12px;
        font-family: sans-serif;
        margin-left: 17px;
    }
}

.icon-bus-show-rating-left {
    display: flex;
    min-width: 350px;
    a {

    }
    h2 {

    }
}

.icon-bus-show-rating-right {
    display: flex;
    a {

    }
    h2 {
        
    }
}

.review-header header {
    padding-top: 40px;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;

}

.review-wrapper {
    display: flex;
    margin-top: 25px;
}


.review-user-wrapper {
    display: flex;
    align-items: flex-start;
    font-family: sans-serif;
    min-width: 260px;
    padding-top: 6px;
    a {
        color: gray;
        font-size: 34px;
        padding: 4px 8px 4px 8px;
        border-radius: 5px;
        background-color: lightgray;
    }
    h1 {
        color: #67917A;
        padding: 0px 0px 4px 8px;
        margin-top: -3px;
    }
    h2 {
        padding: 3px 0px 4px 8px;
        font-size: 13px;
        font-weight: 600;
    }
    h3 {
        padding: 3px 0px 4px 8px;
        font-size: 13px;
        color: gray;
    }
    h4 {
        display: none;
        padding: 3px 0px 4px 8px;
        font-size: 13px;
        color: gray;
    }
    .user-prof {
        min-height: 75px;
        a {
            color: $green;
            padding: 0px;
            border-radius: none;
            background-color: transparent;
        }
    }
}

.review-text-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 445px;
    p {
        font-family: sans-serif;
        color: gray;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
    }
}

.trash-wrapper {
    display: flex;
    justify-content: flex-end;
    i {
        font-size: 13px;
        padding: 11px;
        border: 1px solid $gray;
        border-radius: 6px;
    }
}
.review-text-header {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    a {
        color: red;
    }
    h2 {
        font-family: sans-serif;
        font-size: 13px;
        padding-left: 10px;
        color: gray;
    }
    
}

.show-padding {
    height: 500px;
    width: 100%;
}