$gray: #5e5e5e;
$green: #67917A;
$black: #170409;
$olive: #B8AF03;
$sand: #CCBF82;
$red: #E33258;
$lightgray: #f2f2f2;
$darkblue: #5165db;



.splash-parent {
    display: flex;
    // position: ;
    background: image-url("background.png");
    background-repeat: no-repeat;
    width: 1000;
    height: 600px;
    justify-content: center;
}


.greeting {
    background-color: Transparent;
    position: absolute;
    padding: 5px;
    margin: 10px;
    min-height: 25px;
    border-radius: 5px;
    font-size: 1.2EM;
    border: 3px solid white;
    font-weight: 300;
    color: white;
}


.login {
    right: 200px;
    border: none;
    top: 23px;
}

.login:hover {
    border-bottom: 3px solid white;
    border-radius: 0px;
}

.review:hover {
    border-bottom: 3px solid white;
    border-radius: 0px;
}


.signup {
    right: 80px;
    top: 20px;
    outline: none;
}

.demo {
    right: 285px;
    border: none;
    top: 23px;
    outline: none;
}

.user {
    right: 234px;
    font-family: sans-serif;
    top: 24px;
    border: none;
    font-weight: 400;
}

.logout {
    right: 130px;
    top: 20px;
    outline: none;
}

.logout:hover {
    background-color: $red;
    border: 3px solid $red;
    color: white;
    transition: 0.3s;
}

.demo:hover {
    border-bottom: 3px solid white;
    border-radius: 0px;
}

.signup:hover {
    background-color: white;
    border: 3px solid white;
    color: black;
    transition: 0.3s;
}

.review {
    left: 20px;
    border: none;
    top: 23px;
    outline: none;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 312px;
}

.logo-wrapper img {
    max-height: 165px;
    max-width: 200px;
    padding-top: 100px;
}


.chef-backgroud {
    max-height: 2560px;
    max-width: 1000px;
}

.search-parent {
    display: flex;
    // position: absolute;
    margin: 10px;
    background-color: #FEFEFE;
    top: 373px;
    // width:100%;
    font-family: sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
}
.search-wrapper{
    position: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    // width: 100%;
}
.search-child input[type=search] {
    margin-left: 10px;
    background-color: #FEFEFE;
    border: none;
    color: #5e5e5e;
    min-width: 300px;
    max-width: 300px;
    font-size: 1.0EM;
    padding-left: 28px;
    padding-bottom: none;
    outline: none;
    float: lleft;
    padding: 11px;
}
.search-child {
    display: flex;
    position: block;
}

.search-child label {
    padding-left: 5px;
}

.search-button {
    background-color: #E33258;
    outline: none;
    text-transform: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.2em;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.search-button:hover {
    background-color: #c12847;
    transition: 0.3s;
    color: white;
}


.icons-parent {
    display: flex;
    justify-content: center;
    max-height: 50px
}

.icons-parent a {
    margin: 0px 0px 0px 20px;
    color: white;
    font-size: 1em;
    font-weight: 700;
    font-family: sans-serif;
    text-decoration-line: none;
    &:hover {
        border-bottom: 3px solid white;
    }
}

// business categories

.business-cat-container-parent {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 278px;
    background-color: $lightgray;

}

.rev-title {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 100px;
    background-color: $lightgray;
}

.rev-title h2 {
    font-family: sans-serif;
    font-weight: 900;
    color: #E33258;
    padding: 30px;
    font-size: 1.7em;
}

.bus-cards-container {
    display: flex;
    justify-content: center;
    width: 900px;
    a {
        text-decoration-line: none;
    }
}

.bus-card {
    width: 216px;
    height: 230px;
    background-color: white;
    border-radius: 5px;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        h3 {
            color: $green;
        }
    }
}


.bus-card img {
    width: 100%;
    height: 80%;
    border-radius: 5px 5px 0px 0px;
}

.bus-container {
    display: flex;
    justify-content: center;
    h3 {
        padding-top: 10px;
        font-family: sans-serif;
        font-weight: 600;
        color: black;
        text-decoration-line: none;
    }
}

// attempt to fix weird css bug, tried to put it on application.html.erb

.bigbox {
    width: 1000px;
}

// businesses by city section


.bus-by-city {
    display: flex;
    justify-content: center;
    width: 1000;
}

.large-title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: white;
    h2 {
       font-family: sans-serif;
        font-weight: 900;
        color: #E33258;
        padding: 30px;
        font-size: 2.1em; 
    }
}


.bus-by-city-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: white;;
    a {
        color: #5e5e5e;
    font-weight: 500;
    font-size: 1EM;
    padding: 20px;
    font-family: sans-serif;
    text-decoration-line: none;
    font-family: sans-serif;
    text-decoration-line: none;
    border-bottom: 1px solid $gray;
        &:hover {
            border-bottom: 4px solid $red;
        }
    }
}


//  featured businesses section

.featured-bus-title {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 50px;
    background-color: white;
    h2 {
        font-family: sans-serif;
        font-weight: 600;
        color: #E33258;
        padding: 30px;
        font-size: 1.4em;
    }
}

.featured-business-cat-container-parent {
    display: flex;
    justify-content: center;
    width: 1000px;
}


.featured-bus-cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 310px;
    padding: 14px;
    margin: 4px;
    // background-color: blue
    a {
        text-decoration-line: none;
    }
}

.featured-bus-card {
    width: 280px;
    height: 301px;
    background-color: white;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    img {
        width: 100%;
        height: 55%;
        border-radius: 5px 5px 0px 0px;
    }
    h1 {
        padding-top: 10px;
        padding-left: 7px;
        font-family: sans-serif;
        font-weight: 600;
        color: $green;
        text-decoration-line: none;
        width: 100%;
        a {
            color: $green;
            text-decoration-line: none;
            &:hover {
                border-bottom: 2px solid $green;
            }
        }
    }
    h2 {
        padding-top: 8px;
        padding-left: 7px;
        font-family: sans-serif;
        font-weight: 400;
        color: $gray;
        width: 100%;
    }
    h3 {
        padding-top: 8px;
        padding-left: 7px;
        font-family: sans-serif;
        font-weight: 500;
        color: $gray;
        width: 100%;
    }
    h4 {
        padding-top: 8px;
        padding-left: 7px;
        font-family: sans-serif;
        font-weight: 500;
        color: $red;
        width: 100%;
    }
}


.featured-bus-footer {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 50px;
    background-color: white;
    a {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 0.9em;
        color: $green;
        text-decoration-line: none;
        &:hover {
            border-bottom: 2px solid $green;
        }
    }
}


// Business by Category

.bus-by-cat-title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: $lightgray;
    h2 {
       font-family: sans-serif;
        font-weight: 900;
        color: #E33258;
        padding: 30px;
        font-size: 2.1em; 
    }
}

.bus-by-cat-container-parent {
    display: flex;
    justify-content: center;
    width: 1000px;
    background-color: $lightgray;
}

.bus-by-cat-card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    padding: 14px;
    margin: 4px;
    background-color: blue
    a {
        text-decoration-line: none;
    }
}

.bus-by-cat-card {
    display: flex; 
    justify-content: center;
    width: 258px;
    height: 200px;
    background-color: white;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    margin: 21px;
    img {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        height: 80%;
        border-radius: 5px 5px 0px 0px;
    }
    a {
        text-decoration-line: none;
    }
    p {
        padding-top: 10px;
        font-family: sans-serif;
        font-weight: 600;
        color: black;
        text-decoration-line: none;
    }
    &:hover {
        border: 0.5px solid $darkblue;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.1s;
        p {
            color: $green;
        }
    }
}

.bus-by-cat-text {
    display: flex;
    justify-content: center;
}

