$gray: #5e5e5e;
$green: #67917A;
$black: #170409;
$olive: #B8AF03;
$sand: #CCBF82;
$red: #E33258;



.splash-parent {
    display: flex;
    position: relative;
    // background: image-url("chef-background.jpg");
    background-size: cover;
    min-height: 500px;
    justify-content: center;
}


.greeting {
    background-color: Transparent;
    position: absolute;
    padding: 5px;
    margin: 10px;
    min-height: 25px;
    border-radius: 5px;
    font-size: 1.2EM;
    border: 3px solid white;
    font-weight: 300;
    color: white;
}


.login {
    right: 140px;
    border: none;
    top: 23px;
}

.login:hover {
    border-bottom: 3px solid white;
    border-radius: 0px;
}

.review:hover {
    border-bottom: 3px solid white;
    border-radius: 0px;
}


.signup {
    right: 20px;
    top: 20px;
}

.demo {
    right: 225px;
    border: none;
    top: 23px;
}

.user {
    right: 124px;
    font-family: sans-serif;
    top: 24px;
    border: none;
    font-weight: 400;
}

.logout {
    right: 20px;
    top: 20px;
}


.demo:hover {
    border-bottom: 3px solid white;
    border-radius: 0px;
}

.signup:hover {
    background-color: white;
    border: 3px solid white;
    color: black;
}

.review {
    left: 20px;
    border: none;
    top: 23px;
}


.logo {
    display: flex;
    align-self: center;
    max-width: 300px;
}

.chef-backgroud {
    max-height: 2560px;
    max-width: 1600px;
}