$gray: #5e5e5e;
$green: #67917A;
$black: #170409;
$olive: #B8AF03;
$sand: #CCBF82;
$red: #E33258;



.splash-parent {
    display: flex;
    position: relative;
    // background: image-url("chef-background.jpg");
    background-size: cover;
    min-height: 500px;
    justify-content: center;
}


.greeting {
    background-color: Transparent;
    position: absolute;
    padding: 5px;
    margin: 10px;
    min-height: 25px;
    border-radius: 5px;
    font-size: 1.2EM;
    border: 3px solid white;
    font-weight: 300;
    color: white;
}


.login {
    right: 250px;
    border: none;
    top: 23px;
}

.login:hover {
    border-bottom: 3px solid white;
    border-radius: 0px;
}

.review:hover {
    border-bottom: 3px solid white;
    border-radius: 0px;
}


.signup {
    right: 130px;
    top: 20px;
    outline: none;
}

.demo {
    right: 335px;
    border: none;
    top: 23px;
    outline: none;
}

.user {
    right: 234px;
    font-family: sans-serif;
    top: 24px;
    border: none;
    font-weight: 400;
}

.logout {
    right: 130px;
    top: 20px;
    outline: none;
}

.logout:hover {
    background-color: $red;
    border: 3px solid $red;
    color: white;
    transition: 0.3s;
}

.demo:hover {
    border-bottom: 3px solid white;
    border-radius: 0px;
}

.signup:hover {
    background-color: white;
    border: 3px solid white;
    color: black;
    transition: 0.3s;
}

.review {
    left: 20px;
    border: none;
    top: 23px;
    outline: none;
}


.logo {
    display: flex;
    align-self: center;
    max-width: 300px;
}

.chef-backgroud {
    max-height: 2560px;
    max-width: 1600px;
}

.search-parent {
    display: flex;
    position: absolute;
    padding: 20px;
    margin: 10px;
    background-color: #FEFEFE;
    max-height: 21px;
    top: 373px;
    align-self: center;
    font-family: sans-serif;
    border-radius: 5px;
}
.search-child input {
    background-color: #FEFEFE;
    border: none;
    color: #5e5e5e;
    min-width: 300px;
    font-size: 1.0EM;
    padding-left: 15px;
    outline: none;
}
.search-child {
    display: flex;
    position: relative;
}